<link rel="stylesheet" href="../static/css/style.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

<section class="banner" id="banner">
    <div class="content">
        <h2>MIND your health</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <a href="#" class="btn">Join In</a>
    </div>
</section>

   <!--Section2------>
   <section class="comm">
    <div class="content-box">
        <div class="container">
            <div class="row">
                <h3>KNOW THE COMMUNITY</h3>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </p>
           
            </div>
            
            </div>
        </div>
    </div>
</section>
<!-----Communities------->

<section class="group">
    <div class="content-box">
       <div class="container">
           <h1>Our Services</h1>
           <div class="row services ">
               <div class="col">
                   <div class="icon">
                    <i class="bi bi-bandaid-fill"></i>
                   </div>
                   <h3><span>Therapy</span></h3> 
                   <p>Therapy can be an effective treatment for a host of mental and emotional problems. Simply talking about your thoughts and feelings with a supportive person can often make you feel better. It can be very healing, in and of itself, to voice your worries or talk about something that's weighing on your mind.</p>
               </div>
               <div class="col">
                <div class="icon">
                    <i class="bi bi-people-fill"></i>
                </div>
                <h3><span>Support Groups</span></h3> 
                <p>In a support group, members provide each other with various types of help, usually nonprofessional and nonmaterial, for a particular shared, usually burdensome, characteristic. Members with the same issues can come together for sharing coping strategies, to feel more empowered and for a sense of community.</p>
            </div>
            <div class="col">
                <div class="icon">
                    <i class="bi bi-info-circle-fill"></i>
                </div>
                <h3><span>Awareness</span></h3> 
                <p>Mental health awareness is the recognition that our psychological well-being is an important part of our own health, productivity, and happiness, as well as the well-being of our communities.</p>
            </div>
            <div class="col">
                <div class="icon">
                    <i class="bi bi-info-circle-fill"></i>
                </div>
                <h3><span>Awareness</span></h3> 
                <p>Mental health awareness is the recognition that our psychological well-being is an important part of our own health, productivity, and happiness, as well as the well-being of our communities.</p>
            </div>
           </div>
       </div> 
    </div>
</section>

