<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yo</title>
</head>

<body>
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi atque maxime iste ducimus rem, quia delectus placeat praesentium minima reprehenderit reiciendis veritatis, consequuntur quisquam! Corrupti perferendis illum sunt sequi quae.</h1>
</body>

</html>