html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent
}

@-ms-viewport {
    width: device-width
}

body {
    color: green;
    position: relative;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    line-height: 2px;
    font-weight: normal;
    overflow-x: hidden;
}

/*---- NAVBAR ----------*/
nav{
    display: block;
    background-color: #cad2c5;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    color: #354f52;
}

.navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    backdrop-filter: blur(14px);
}

.navbar-brand{
    color: #354f52;
    font-weight: 800;
}
.navbar-brand span{
    color: #fff;
    font-weight: 600;
}

.nav-link{
    color: #354f52 !important;
}


nav button:hover{
    color: #cad2c5 !important;
    background: #354f52 !important;
}

/*-------HOME-------*/



.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/home.jpg);
    background-size: cover;
}

.banner .content{
    max-width: 900px;
    text-align: center;
}

.banner .content h2{
    font-size: 5em;
    font-weight: 500;
    color: #cad2c5;
}

.banner .content p{
    font-size: 1em;
    color: #cad2c5;
}

.banner .btn{
    font-size: 10px;
    background-color: #cad2c5 !important;
    color: #354f52 !important;
    display: inline-block;
    padding: 10px 30px;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
}

.banner .btn:hover{
    letter-spacing: 6px;
}

/*-------Know the community---------*/
.comm{
    background-color: #cad2c5;
    color: #354f52;
}

.comm h3{
    margin-top: 80px;
    text-align: center;
}

.comm p{
    margin-bottom: 10px;
}

/*---------------Communities--------*/

.content-box{
    background: #f4f3ff;
    padding: 50px 0px;
    width: 100%;
}

.content-box h1{
    text-align: center;
    padding-top: 0px;
    font-size: 40px;
}

h1::after{
    content: '';
    background: #354f52;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 50px;
}

.group .icon{
    font-size: 30px;
    margin: 20px auto;
    padding: 18px;
    height: 70px;
    width: 70px;
    border: 1px solid #354f52 ;
    border-radius: 50%;
    color: #354f52;
}

.group h3{
    text-align: center;
}

.group p{
    font-size:  12px;
    text-align: center;
    margin-top: 10px;
    color: #2f3e46;
    padding: 10px;
}

.group span{
    color: #354f52;
}

.group .col:hover{
    background: #354f52;
    cursor: pointer;
    color: white;
    box-shadow: -5px 5px 10px 0 rgba(0,0,0,0.4);
    transition: .5s;
}

.group .col:hover i{
    color: #cad2c5;
}

.group .col:hover span{
    color: #cad2c5 ;
}

.group .col:hover p{
    color: #cad2c5 ;
}