{% extends 'navbar.html' %} {% load static %} {% block content %}

<!-- end header inner -->

<!-- end header -->
<!-- <section class="bg-dark"> -->
<!-- </section> -->
<!-- <img src="{ % static 'images/banner-pht.png' % }" class="banner-img" alt=""> -->
<section id="banner_">

    <h1 style="top: 50%; font-size: 50px;">MY FEELINGS MATTER</h1>
    <h6 style="left: 38%; top: 58%; font-size: 17px;">Emergency Helpline no. 9152987821</h6>

    <!-- </section> -->
    <!-- <img src="{% static 'images/banner-pht.png'%}" class="banner-img" alt=""> -->

    <!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-caption">
                    <h3>Boyd W.</h3>
                    <p>TEXT</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption">
                    <h3>Diane L</h3>
                    <p>TEXT</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption">
                    <h3>Randall L</h3>
                    <p>TEXT</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption">
                    <h3>John D.</h3>
                    <p>TEXT</p>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption">
                    <h3>Jody B.</h3>
                    <p>TEXT</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div> -->

</section>


<!-- OUR communi -->
<section id="about">
    <div class="container_about">
        <div class="row">
            <div class="col-md-6">
                <h2>Importance of Mental Health</h2>
                <div class="about-content">
                    Mental health includes our emotional, psychological, and social well-being. It affects how we think, feel, and act. It also helps determine how we handle stress, relate to others, and make choices. Mental health is important at every stage of life, from
                    childhood and adolescence through adulthood.
                </div>
                <button onclick=" window.open('https://www.mentalhealth.gov/basics/what-is-mental-health','_blank')" target="_blank" type="button" class="btn btn-primary">Read more</button>
            </div>
            <img src="{% static 'images/abt_00.jpg' %}" class="ft" alt="">
        </div>
    </div>
</section>

<!-- services section  -->
<section id="services">
    <div class="container">
        <h1>Know the Communities</h1>
    </div>
    <div class="row services">
        <div class="col-md-3 text-center">
            <div class="icon">
                <i class="bi bi-person-circle"></i>
            </div>
            <h3>Alienation</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis natus quidem quia recusandae asperiores ex repellendus molestiae voluptatem cupiditate. Optio!</p>
        </div>
        <div class="col-md-3 text-center">
            <div class="icon">
                <i class="bi bi-activity"></i>
            </div>
            <h3>Anxiety</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta magni laboriosam autem velit, veniam ex commodi quas numquam quia labore cupiditate quo quae hic aliquid eius blanditiis reiciendis iure vero.</p>
        </div>
        <div class="col-md-3 text-center">
            <div class="icon">
                <i class="bi bi-emoji-frown-fill"></i>
            </div>
            <h3>Depression</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit voluptatibus, deleniti alias non illum dignissimos debitis voluptas est, maiores tempore, dolores eligendi nam molestiae saepe nemo sapiente vero nisi numquam.
            </p>
        </div>
        <div class="col-md-3 text-center">
            <div class="icon">
                <i class="bi bi-balloon-heart-fill"></i>
            </div>
            <h3>PCOS</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus molestiae nobis placeat! Delectus ab amet mollitia quidem architecto esse, cumque culpa obcaecati animi deleniti laudantium, modi ducimus? Esse, similique blanditiis!</p>
        </div>
    </div>
</section>

<!-- Get in Touch -->

<!-- about  -->
<div id="about about_us" class="about">
    <div class="container ">
        <div class="row ">
            <div class="col-md-12 ">
                <div class="titlepage ">
                    <h2>About Us</h2>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-12 ">
                <div class="about-box ">
                    <iframe width="300" height="200" src="https://www.youtube.com/embed/oxx564hMBUI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <!-- <iframe width="300" height="200" src="https://www.youtube.com/embed/sdIeZikX_5c?autoplay=0&mute=1"></iframe> -->
                    <!-- <iframe width="420 " height="315 " src="https://www.youtube-nocookie.com/embed/N0dbGGvsjf8?autoplay=0&mute=1 "></iframe> -->

                    <p>Healing Hand is a platform for people join online support groups to help them form a community of people with similiar mental wellness goals to uplift each other under professional guidance.</p>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- end abouts -->



<!-- contact -->
<div id="contact " class="contact ">
    <div class="container ">

        <div class="row ">

            <div class="col-md-12 ">

                <form class="contact_bg ">
                    <div class="row ">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                            <input class="contactus " placeholder="Name " type="text " name="Name ">
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 ">
                            <input class="contactus " placeholder="Phone " type="text " name="Email ">
                        </div>
                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 ">
                            <input class="contactus " placeholder="Email " type="text " name="Email ">
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                            <textarea class="textarea " placeholder="Message " type="text " name="Message "></textarea>
                        </div>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                            <button class="send ">Get Help</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

<!-- end contact -->

<!--  footer -->
<footr>
    <div class="footer " id="footer-id ">
        <div class="container ">
            <div class="row ">
                <div class="col-md-12 ">
                    <h2>Newsletter</h2>
                </div>
                <div class="col-md-10 offset-md-1">
                    <form class="news" method="POST" action="">{% csrf_token %} {{ forms.as_p}}
                        <input class="newslatter " placeholder="Enter Your Email " type="text " name="Enter Your Email ">
                        <button class="submit ">Subscribe</button>
                    </form>

                </div>
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 ">
                    <div class="row ">
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-6 ">
                            <div class="address ">
                                <ul class="social_link ">
                                    <li>
                                        <a href="# "><img src="{% static 'icon/fb.png' %}"></a>
                                    </li>
                                    <li>
                                        <a href="# "><img src="{% static 'icon/tw.png' %}"></a>
                                    </li>
                                    <li>
                                        <a href="# "><img src="{% static 'icon/lin(2).png' %}"></a>
                                    </li>
                                    <li>
                                        <a href="# "><img src="{% static 'icon/instagram.png' %}"></a>
                                    </li>
                                </ul>
                                <!-- <a href="index.html "> <img src="images/logo.png " alt="logo "></a> -->
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>
        <div class="copyright ">
            <div class="container ">
                <p>© 2022 All Rights Reserved. <a href="https://html.design/ ">Made by Tech Peeps</a></p>
            </div>
        </div>
    </div>
</footr>
<!-- end footer -->
<!-- Javascript files-->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
<script src="{% static 'js/plugin.js' %}"></script>
<!-- sidebar -->
<script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>
<script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js "></script>
<script>
    if (localStorage.getItem("theme") == null) {
        localStorage.setItem("theme", "light");
    }
    // localStorage.setItem("theme", "light");

    let localData = localStorage.getItem("theme");

    var icon = document.getElementById("icond1");
    if (localData == "light") {
        icon.src = "{% static 'icon/moon_01.svg' %}";
        document.body.classList.remove("dark-theme");
    } else if (localData == "dark") {
        icon.src = "{% static 'icon/sun.svg' %}";
        document.body.classList.add("dark-theme");
    }

    icon.onclick = function() {
        document.body.classList.toggle("dark-theme");
        if (document.body.classList.contains("dark-theme")) {
            icon.src = "{% static 'icon/sun.svg' %}";
            localStorage.setItem("theme", "dark");

        } else {
            icon.src = "{% static 'icon/moon_01.svg' %}";
            localStorage.setItem("theme", "light");
        }
    }
</script>
{% endblock %}